BODY {
    margin-left: 300px;
    margin-right: 300px;
 background: white; /* Цвет фона веб-страницы */
}
h2 {
    text-align: left;
}
h1 {
    text-align: center;
    color: rgb(68, 66, 65);
    /* width: 100%; */
}
TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid white; /* Прячем рамку вокруг таблицы */
    font-size: 20px;
    height: 500px;
}
th {
    width: 400px;
    /* text-align: center; */
}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid maroon; /* Параметры рамки */
    text-align: center; /* Выравнивание по левому краю */
}

.lux tr:nth-child(odd) {
    background: #a52a2a;
    color: white; 
}
.lux tr:nth-child(even) { 
    background: #FFE4C4;
    color: black;
}
.size {
    margin-top: 50px;
    font-size: 2em;
}
.orc {
    color: #a52a2a;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
}